<nav class="navbar">
    <div class="navbar-container">
        <div class="nav-left">
            <a href="{% url "home" %}" class="nav-link">Home</a>
            <a href="{% url "contact" %}" class="nav-link">Contact</a>
            <a href="{% url "about" %}" class="nav-link">About Us</a>
        </div>
        
        <div class="nav-right">
            <a href="{% url "blogs" %}" class="nav-link">Blogs</a>
            <a href="{% url "create_blog" %}" class="nav-link">Create Blog</a>
            {% if temperature %}
            <a href="{% url "home" %}" class="nav-link" id="weather">{{ temperature }} &#8451;</a>
            {% else %}
            <a href="{% url "home" %}" class="nav-link" id="weather">16 &#8451;</a>
            {% endif %}
        </div>
    </div>
</nav>