body{
    padding-top: 20vh;
}

.like-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.blog_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 5vw;
    margin-right: 1vw;
}

.comment-section{
    margin-top: 3vh;
}

.list_element{
    margin-bottom: 2vh;
}